/* === === ===
jloffler
March 2021
Written for - freeCodeCamp Product Landing Page Project

Swatch colours
Main
* color: white;
* background: black;

Alternate
* color: black;
* background: white;
=== === === */

body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
}

/* Need to change class to ID to edit actual image */
.header-img-div {
  width: 25px;
  height: 25px;
  background-color: red;
}

#nav-bar {
  margin-left: auto;
}

.features {
  background-color: white;
  color: black;
  padding: 2.5vw 0;
}

.feature-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/* Every second image appears before the description text */
.feature-wrap:nth-of-type(even) {
  flex-direction: row;
}

.feature-wrap img {
  display: block;
  width: 100%;
  max-width: 1040px;
  height: auto;
}

.feature-wrap div {
  padding: 3vw;
}

.video-section {
  position: relative;
}

#video {
  width: 70%;
  max-width: 1280px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.video-splash {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Responsive Layout */
@media all and (min-width: 750px) {
  .feature-wrap img {
    width: calc(50% - 2.5vw);
  }

  .feature-wrap div {
    width: calc(50% - 2.5vw);
  }
}