/* === === ===
jloffler
March 2021
Written for - freeCodeCamp Product Landing Page Project

Swatch colours
Main
* color: white;
* background: black;

Alternate
* color: black;
* background: white;
=== === === */

/* BASIC STYLES */

body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

h3, .email-submit {
  font-size: 1.2rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/* *** MOBILE LAYOUT (<750px) *** */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
}

/* Need to change class to ID to edit actual image */
.header-img-div {
  width: 25px;
  height: 25px;
  background-color: red;
}

#nav-bar {
  margin-left: auto;
}

.heading {
  margin: 5rem auto 2rem auto;
}

.sub-heading {
  margin: 2rem auto 1rem auto;
}

.sign-up-heading {
  margin: 1rem auto 0 auto;
}

.email-form {
  margin: 0 7vw 5rem 7vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-form input {
  display: block;
  border: 2px solid grey;
  border-radius: 3px;
  padding: 0 0.6em;
  height: 40px;
}

.email-input {
  font-size: 1rem;
  max-width: 450px;
  width: 100%;
  margin: 0.6rem 0;
}

.email-submit {
  /*font-size: 1.4rem;*/
  background-color: grey;
  color: white;
  font-weight: 500;
}

.features {
  background-color: white;
  color: black;
  padding: 2.5vw 0;
  text-align: left;
}

.feature-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/* Every second image appears before the description text  */
.feature-wrap:nth-of-type(even) {
  flex-direction: row;
}

.feature-wrap img {
  display: block;
  width: 100%;
  max-width: 1040px;
  height: auto;
}

.feature-wrap div {
  padding: 6vw;
}

.video-wrap {
  position: relative;
}

#video {
  width: 70%;
  max-width: 1280px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.video-splash {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Desktop Layout (=>750px) */
@media all and (min-width: 750px) {
  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  h2 {
    font-size: 2rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1.65rem;
    font-weight: 400;
  }

  p, .email-submit {
    font-size: 1.4rem;
    font-weight: 400;
  }

  .feature-wrap img {
    width: calc(50% - 2.5vw);
  }

  .feature-wrap div {
    width: calc(50% - 2.5vw);
    padding: 3vw;
  }

  .email-form {
    flex-direction: row;
  }

  .email-form input {
    height: 50px;
    border-radius: 0;
  }

  .email-input {
    width: 400px;
    margin: 0.6rem 0;
  }

  .email-submit {
    margin: 0;
  }
}