/* === === ===
jloffler
March 2021
Written for - freeCodeCamp Product Landing Page Project

Swatch colours
*
*
=== === === */

body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  color: black;
}

/* Need to change class to ID to edit actual image */
.header-img-div {
  width: 25px;
  height: 25px;
  background-color: red;
}

#nav-bar {
  margin-left: auto;
}

.features {
  background-color: white;
  color: black;
  padding: 1rem;
}

.feature-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

/* Every second image appears before the description text */
.feature-wrap:nth-of-type(even) {
  flex-direction: row;
}

.feature-wrap img {
  width: calc(50% - 2.5vw);
  height: auto;
}

.feature-wrap div {
  padding: 0 3vw;
  max-width: calc(50% - 2.5vw);
}